version: "1.0"

services:
  redis:
    image: redis:latest
    ports:
      - "6379:6379"
      
  web:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - redis
    volumes:
      - .:/app
    environment:
      REDIS_HOST: redis

