version: "1.0"

services:
  web:
    build: .
    command: daphne -b 0.0.0.0 -p 8000 webchat.asgi:application
    ports:
      - "8000:8000"
    depends_on:
      - redis
    volumes:
      - .:/app
    environment:
      REDIS_HOST: redis

  redis:
    image: redis:latest
  
  
